body {
  background: #121212;
  color: white;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  padding: 40px;
  height: 740px;
}

.aboutme {
  max-width: 500px;
  margin: auto;
  background: #1e1e1e;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
